# Check if `uv` is installed
if command -v uv &> /dev/null; then
  SCRIPTS='./scripts'
  export VIRTUAL_ENV="$SCRIPTS/.venv"
  if [ ! -d $VIRTUAL_ENV ]; then
    uv venv $VIRTUAL_ENV
    uv pip install -r "$SCRIPTS/requirements.txt"
  fi
  #shellcheck disable=SC1091
  # Activate the virtual environment
  source "$VIRTUAL_ENV/bin/activate"
else
  #shellcheck disable=SC2016
  echo '`uv` not found, please install it first'
  echo 'Skipping virtual environment creation...'
  exit 1
fi
